@charset "UTF-8";
/* CSS Document */

body{
	/*background-color:gray;*/
	background-image:black;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}


#index{
text-decoration:none;
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;		
color: #000;
font-size:2em;
}
#Copyright &copy; 2013 Ellen Ma. All rights reserved.{
	text-align:center;
	display: inline;
}

