/* 
	Lightbox Project page styles	
	Author: Lokesh Dhakar http://www.huddletogether.com
	Table of Contents:
		layout
		typography

*/




/* layout
----------------------------------------------- */

*{
	margin: 0;
	padding:0;
	}

body{
	font: 76% Verdana, Helvetica, sans-serif;
	color: #555;
	text-align: center;		/* centers content in IE5.5 and earlier */
	word-wrap: break-word;	/* breaks long words in IE, prevents float drops */
	}

#wrapper{
	padding: 20px 30px;
	margin: 1.5em 18%;
	text-align: left;
	background-color: #fff;
	}





/* misc
----------------------------------------------- */
.section{ border-top: 1px solid #edede3;  padding-top: 1.0em; }

.download{
	background-color: #f3f3e6;
	border: 1px solid #ddddd3; 
	padding: 0.7em 1.5em; }
.download li{
	list-style: none;
	padding: 0.3em 0;
	border-bottom: 1px dotted #ddddd3;
	}

.thumbnail{
	padding: 7px;
	border: 1px solid #ddd;
	float: left;
	margin-right: 10px;
	margin-bottom: 15px;
	}	

.caption{ font-size: 0.9em; padding-top: 0.2em ;	}




/* clearing
----------------------------------------------- */

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
	}

* html>body .clearfix {
	display: inline-block; 
	width: 100%;
	}

* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
	}	

